* {
    /*Reset's every elements apperance*/
    background: none repeat scroll 0 0 transparent;
    border: medium none;
    border-spacing: 0;
    color: white;
    list-style: none outside none;
    margin: 0;
    padding: 0;
    text-align: left;
    text-decoration: none;
    text-indent: 0;
}

body {
    display: flex;
    justify-content: center;
    margin: 0;
    color: var(--primary-1);
    background-color: var(--primary-3);
}

section {
    overflow: hidden;
}

mark {
    color: var(--primary-2);
    background-color: transparent;
}

blockquote {
    @include body-2();
    text-align: center;
}

blockquote::before {
    content: '“';
}

blockquote::after {
    content: '”';
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

a:hover {
    color: var(--primary-2);
}

#root {
    width: 100%;
}

body {
    font-family: var(--bold-font), sans-serif;
}

.body-1 {
    @include body-1();
}

.body-2 {
    @include body-2();
}

h1 {
    @include h1();

    .small {
        @include h1-small();
    }
}

h2 {
    @include h2();
}

h3 {
    @include h3();
}

$button-height: 48px;

button {
    box-sizing: border-box;
    height: $button-height;
    width: 153px;
    border-radius: calc($button-height / 2);
    text-align: center;
    @include body-1();
    @include button-colors(var(--primary-1), var(--secondary-5));
}
