// color
@each $color in $colors {
    .#{$color} {
        color: var(--#{$color});
    }
}

// background-color
@each $color in $colors {
    .bg-#{$color} {
        background-color: var(--#{$color});
    }
}

// border-color
@each $color in $colors {
    .border-#{$color} {
        border-color: var(--#{$color});
    }
}

.circle-button {
    border-radius: 50%;
    border: none;
    width: 56px;
    height: 56px;
    aspect-ratio: 1 / 1;
}

@each $s in $socials {
    .#{$s} {
        display: inline-block;
        content: url('images/icon-#{$s}.svg');
        margin-bottom: -4px;
    }
}
