// color
@each $color in $colors {
    .#{$color} {
        color: var(--#{$color});
    }
}

// background-color
@each $color in $colors {
    .bg-#{$color} {
        background-color: var(--#{$color});
    }
}

// border-color
@each $color in $colors {
    .border-#{$color} {
        border-color: var(--#{$color});
    }
}

// button variants

button {
    &.btn-pill {
        box-sizing: border-box;
        height: $btn-pill-height;
        width: 153px;
        border-radius: calc($btn-pill-height / 2);
        text-align: center;
        @include body-1();
        @include button-colors(var(--primary-1), var(--secondary-5));
    }

    &.btn-circle {
        border-radius: 50%;
        width: 56px;
        height: 56px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &.btn-icon {
        background-position: center center;
        background-repeat: no-repeat;
        background-size: contain;
        width: 20px;
        height: 20px;
    }
}

.form-field {
    display: grid;
    grid-template-rows: 42px;

    input {
        grid-area: 1 / 1;
        border-bottom: 1px solid var(--primary-1);
        @include body-2();
        padding-bottom: 16px;
        outline: none;
    }

    label {
        grid-area: 1 / 1;
        align-self: end;
        @include body-2();
        opacity: 0.6;
        padding-bottom: 16px;
    }
}

.hide {
    visibility: hidden;
}
