:root {
    // colors
    --primary-1: white;
    --primary-2: #f67e7e;
    --primary-3: #014e56;
    --secondary-1: #79c8c7;
    --secondary-2: #2c6269;
    --secondary-3: #004047;
    --secondary-4: #012f34;
    --secondary-5: #002529;
}

$colors: primary-1, primary-2, primary-3, secondary-1, secondary-2, secondary-3,
    secondary-4, secondary-5;

// background-color
@each $color in $colors {
    .bg-#{$color} {
        background-color: var(--#{$color});
    }
}

// border-color
@each $color in $colors {
    .border-#{$color} {
        border-color: var(--#{$color});
    }
}

.stripes {
    display: inline-grid;
    row-gap: 4px;
}

.stripe {
    width: 100px;
    height: 4px;
}

@mixin circle($size: 200px) {
    border-radius: 50%;
    width: $size;
    aspect-ratio: 1 / 1;
}

.circle {
    @include circle();
}

.donut {
    @include circle();
    border-width: 67px;
    border-style: solid;
    box-sizing: border-box;
}

.design1 {
    position: relative;
    width: 358px;
}

.design1-item {
    position: absolute;
    top: 0;
}

.design1-item:nth-child(1),
.design1-item:nth-child(2) {
    left: 0;
}

.design1-item:nth-child(3) {
    right: 0;
}

.design1-item:nth-child(4) {
    right: 24px;
}

.design1-item:nth-child(5) {
    right: 0;
    height: 43px;
    aspect-ratio: 1 / 1;
}
