#contact {
    display: grid;
    @include gtc-narrow();
    grid-template-rows: 160px auto 16px auto 40px auto;
    justify-items: center;

    h1 {
        grid-area: 2 / 2;
        @include font(40px, 40px);
    }

    h2 {
        grid-area: 4 / 2;
        @include font(32px, 48px);
    }

    .ask-us-about-list {
        grid-area: 6 / 2;
        display: flex;
        flex-direction: column;
        gap: 24px;

        li {
            display: grid;
            grid-template-columns: 72px 23px 1fr;
            align-items: center;
            .icon {
                grid-area: 1 / 1;
                justify-self: end;
            }

            .title {
                grid-area: 1 / 3;
            }
        }
    }
}
