@charset "UTF-8";
@font-face {
  font-family: "Livvic-Bold";
  src: url("/src/assets/fonts/Livvic-Bold.ttf");
}
@font-face {
  font-family: "Livvic-SemiBold";
  src: url("/src/assets/fonts/Livvic-SemiBold.ttf");
}
:root {
  --primary-1: white;
  --primary-2: #f67e7e;
  --primary-3: #014e56;
  --secondary-1: #79c8c7;
  --secondary-2: #2c6269;
  --secondary-3: #004047;
  --secondary-4: #012f34;
  --secondary-5: #002529;
  --bold-font: "Livvic-Bold";
  --semi-bold-font: "Livvic-SemiBold";
  --margin-x-narrow: 24px;
  --margin-x-normal-narrow: 40px;
  --margin-x-normal: 98px;
  --margin-x-wide: 165px;
}

* {
  /*Reset's every elements apperance*/
  background: none repeat scroll 0 0 transparent;
  border: medium none;
  border-spacing: 0;
  color: white;
  list-style: none outside none;
  margin: 0;
  padding: 0;
  text-align: left;
  text-decoration: none;
  text-indent: 0;
}

input,
textarea,
button,
select,
a {
  -webkit-tap-highlight-color: transparent;
}

body {
  display: flex;
  justify-content: center;
  margin: 0;
  color: var(--primary-1);
  background-color: var(--primary-3);
}

section {
  overflow: hidden;
}

mark {
  color: var(--primary-2);
  background-color: transparent;
}

blockquote {
  font-family: var(--semi-bold-font);
  font-size: 15px;
  line-height: 25px;
  text-align: center;
}

blockquote::before {
  content: "“";
}

blockquote::after {
  content: "”";
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a:hover {
  color: var(--primary-2);
}

#root {
  width: 100%;
}

body {
  font-family: var(--bold-font), sans-serif;
}

.body-1 {
  font-family: var(--semi-bold-font);
  font-size: 18px;
  line-height: 28px;
}

.body-2 {
  font-family: var(--semi-bold-font);
  font-size: 15px;
  line-height: 25px;
}

h1 {
  font-family: var(--bold-font);
  font-size: 100px;
  line-height: 100px;
}
h1 .small {
  font-family: var(--bold-font);
  font-size: 64px;
  line-height: 56px;
}

h2 {
  font-family: var(--bold-font);
  font-size: 48px;
  line-height: 48px;
}

h3 {
  font-family: var(--bold-font);
  font-size: 18px;
  line-height: 28px;
}

button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

a {
  cursor: pointer;
}

input {
  border-bottom: 1px solid var(--primary-1);
  height: 42px;
}
input:focus {
  outline: none;
}
input:focus + label {
  display: none; /* Hide the label when the input is in focus */
}

label {
  font-family: var(--semi-bold-font);
  font-size: 15px;
  line-height: 25px;
  opacity: 0.6;
}

.primary-1 {
  color: var(--primary-1);
}

.primary-2 {
  color: var(--primary-2);
}

.primary-3 {
  color: var(--primary-3);
}

.secondary-1 {
  color: var(--secondary-1);
}

.secondary-2 {
  color: var(--secondary-2);
}

.secondary-3 {
  color: var(--secondary-3);
}

.secondary-4 {
  color: var(--secondary-4);
}

.secondary-5 {
  color: var(--secondary-5);
}

.bg-primary-1 {
  background-color: var(--primary-1);
}

.bg-primary-2 {
  background-color: var(--primary-2);
}

.bg-primary-3 {
  background-color: var(--primary-3);
}

.bg-secondary-1 {
  background-color: var(--secondary-1);
}

.bg-secondary-2 {
  background-color: var(--secondary-2);
}

.bg-secondary-3 {
  background-color: var(--secondary-3);
}

.bg-secondary-4 {
  background-color: var(--secondary-4);
}

.bg-secondary-5 {
  background-color: var(--secondary-5);
}

.border-primary-1 {
  border-color: var(--primary-1);
}

.border-primary-2 {
  border-color: var(--primary-2);
}

.border-primary-3 {
  border-color: var(--primary-3);
}

.border-secondary-1 {
  border-color: var(--secondary-1);
}

.border-secondary-2 {
  border-color: var(--secondary-2);
}

.border-secondary-3 {
  border-color: var(--secondary-3);
}

.border-secondary-4 {
  border-color: var(--secondary-4);
}

.border-secondary-5 {
  border-color: var(--secondary-5);
}

button.btn-pill {
  box-sizing: border-box;
  height: 48px;
  width: 153px;
  border-radius: 24px;
  text-align: center;
  font-family: var(--semi-bold-font);
  font-size: 18px;
  line-height: 28px;
  background-color: var(--secondary-5);
  color: var(--primary-1);
  border: 2px solid var(--primary-1);
}
button.btn-pill:hover {
  background-color: var(--primary-1);
  color: var(--secondary-5);
}
button.btn-circle {
  border-radius: 50%;
  width: 56px;
  height: 56px;
  display: flex;
  align-items: center;
  justify-content: center;
}
button.btn-icon {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  width: 20px;
  height: 20px;
}

.facebook {
  display: inline-block;
  content: url("images/icon-facebook.svg");
  margin-bottom: -4px;
}

.pinterest {
  display: inline-block;
  content: url("images/icon-pinterest.svg");
  margin-bottom: -4px;
}

.twitter {
  display: inline-block;
  content: url("images/icon-twitter.svg");
  margin-bottom: -4px;
}

.linkedin {
  display: inline-block;
  content: url("images/icon-linkedin.svg");
  margin-bottom: -4px;
}

#contact {
  display: grid;
  grid-template-columns: minmax(var(--margin-x-narrow), 1fr) minmax(auto, calc(375px - 2 * var(--margin-x-narrow))) minmax(var(--margin-x-narrow), 1fr);
  grid-template-rows: 160px auto 16px auto 40px auto 56px auto 88px;
  justify-items: center;
  overflow: hidden;
}
#contact h1 {
  grid-area: 2/2;
  font-family: var(--bold-font);
  font-size: 40px;
  line-height: 40px;
}
#contact h2 {
  grid-area: 4/2;
  font-family: var(--bold-font);
  font-size: 32px;
  line-height: 48px;
}
#contact .ask-us-about-list {
  grid-area: 6/2;
  display: flex;
  flex-direction: column;
  gap: 24px;
}
#contact .ask-us-about-list li {
  display: grid;
  grid-template-columns: 72px 23px 1fr;
  align-items: center;
}
#contact .ask-us-about-list li .icon {
  grid-area: 1/1;
  justify-self: end;
}
#contact .ask-us-about-list li .title {
  grid-area: 1/3;
}
#contact .contact-form {
  grid-area: 8/2;
  width: 100%;
}
#contact .bg-2 {
  content: url("images/bg-pattern-contact-2.svg");
  grid-area: 1/1/-1/-1;
  justify-self: end;
  align-self: end;
  margin-inline-end: -100px;
  margin-bottom: -100px;
}
@media (min-width: 768px) {
  #contact {
    grid-template-columns: minmax(var(--margin-x-normal), 1fr) minmax(auto, calc(768px - 2 * var(--margin-x-normal))) minmax(var(--margin-x-normal), 1fr);
    grid-template-rows: 224px auto 24px auto 24px auto;
  }
  #contact h1 {
    font-family: var(--bold-font);
    font-size: 64px;
    line-height: 56px;
  }
  #contact .ask-us-about-list {
    gap: 8px;
    width: 515px;
  }
  #contact .ask-us-about-list li {
    display: grid;
    grid-template-columns: 72px 23px 1fr;
    align-items: center;
  }
  #contact .ask-us-about-list li .icon {
    grid-area: 1/1;
    justify-self: end;
  }
  #contact .ask-us-about-list li .title {
    grid-area: 1/3;
  }
  #contact .bg-1 {
    content: url("images/bg-pattern-about-2-contact-1.svg");
    grid-area: 2/1/-1/-1;
    justify-self: start;
    align-self: start;
    margin-inline-start: -100px;
    margin-top: -8px;
  }
}

header {
  position: fixed;
  display: grid;
  width: 100%;
  z-index: 1;
  grid-template-columns: var(--margin-x-narrow) 1fr var(--margin-x-narrow);
  grid-template-rows: 48px auto 10px;
  align-items: center;
}
header .logo {
  grid-area: 2/2;
  height: 32px;
}
header nav,
header .contact-us {
  display: none;
}
header .hamburger {
  grid-area: 2/2;
  justify-self: end;
  background-image: url("images/icon-hamburger.svg");
}
@media (min-width: 768px) {
  header {
    grid-template-columns: var(--margin-x-normal-narrow) auto 48px 1fr var(--margin-x-normal-narrow);
    grid-template-rows: 64px auto 20px;
  }
  header nav {
    display: unset;
    grid-area: 2/4;
    justify-self: start;
    display: grid;
    grid-template-columns: repeat(2, auto);
    column-gap: 40px;
    font-family: var(--semi-bold-font);
    font-size: 18px;
    line-height: 28px;
  }
  header .contact-us {
    display: unset;
    grid-area: 2/4;
    justify-self: end;
    background-color: var(--primary-3);
    color: var(--primary-1);
    border: 2px solid var(--primary-1);
  }
  header .contact-us:hover {
    background-color: var(--primary-1);
    color: var(--primary-3);
  }
  header .hamburger {
    display: none;
  }
}
@media (min-width: 1440px) {
  header {
    grid-template-columns: var(--margin-x-wide) auto 80px 1fr var(--margin-x-wide);
    grid-template-rows: 73px auto 20px;
  }
  header .logo {
    height: 40px;
  }
}

.overlay {
  position: fixed;
  inset: 0;
  z-index: 2;
  opacity: 50%;
  background-color: black;
  min-width: 100%;
  min-height: 100%;
  transition: visibility 0.2s, opacity 0.2s;
}

.content {
  position: fixed;
  top: 0;
  right: 0;
  height: 100%;
  display: grid;
  grid-template-columns: 48px 1fr 25px;
  grid-template-rows: 56px 56px 116px 1fr;
  min-width: 255px;
  background-color: var(--secondary-2);
  transition: margin-inline-end 0.2s;
  z-index: 3;
}
.content .close-btn {
  grid-area: 2/2;
  justify-self: end;
  width: 18px;
  height: 17px;
  display: flex;
  background-image: url("images/icon-close.svg");
}
.content .close-btn > img {
  width: 100%;
  height: 100%;
}
.content nav {
  grid-area: 3/2;
  display: flex;
  flex-direction: column;
  gap: 24px;
  font-family: var(--semi-bold-font);
  font-size: 18px;
  line-height: 28px;
}
.content .contact-us {
  grid-area: 4/2;
  background-color: transparent;
}
.content .bg-1 {
  content: url("images/bg-pattern-about-1-mobile-nav-1.svg");
  grid-area: 1/1/-1/-1;
  align-self: end;
  justify-self: end;
  margin-inline-end: -100px;
}

.overlay.closed {
  visibility: hidden;
  opacity: 0;
}

.content.closed {
  margin-inline-end: -500px;
}

footer {
  align-self: end;
  display: grid;
  grid-template-rows: 66px auto 24px auto 24px auto 40px auto 16px auto 64px;
  justify-items: center;
}
footer .logo {
  grid-area: 2/1;
  height: 24px;
}
footer nav {
  grid-area: 4/1;
  display: flex;
  gap: 24px;
  font-family: var(--semi-bold-font);
  font-size: 15px;
  line-height: 25px;
}
footer address {
  grid-area: 6/1;
  opacity: 0.6;
  font-family: var(--semi-bold-font);
  font-size: 15px;
  line-height: 25px;
  white-space: pre;
  font-style: normal;
  text-align: center;
}
footer ul {
  grid-area: 8/1;
  display: flex;
  gap: 16px;
  align-items: center;
}
footer .copyright {
  grid-area: 10/1;
  opacity: 0.6;
  font-family: var(--semi-bold-font);
  font-size: 15px;
  line-height: 25px;
}
@media (min-width: 768px) {
  footer {
    grid-template-columns: var(--margin-x-normal-narrow) 1fr var(--margin-x-normal-narrow);
    grid-template-rows: 56px auto 32px auto 56px;
  }
  footer .logo {
    grid-area: 2/2;
    justify-self: start;
    align-self: start;
  }
  footer nav {
    grid-area: 2/2;
    justify-self: start;
    align-self: end;
  }
  footer address {
    grid-area: 2/2;
    align-self: end;
    justify-self: end;
    text-align: end;
  }
  footer ul {
    grid-area: 4/2;
    justify-self: start;
  }
  footer .copyright {
    grid-area: 4/2;
    justify-self: end;
  }
}
@media (min-width: 1440px) {
  footer {
    grid-template-columns: var(--margin-x-wide) auto 125px 445px 380px var(--margin-x-wide);
    grid-template-rows: 48px auto 48px;
  }
  footer .logo {
    height: 40px;
  }
  footer address {
    grid-area: 2/4;
    align-self: start;
    justify-self: start;
    text-align: start;
  }
  footer ul {
    grid-area: 2/5;
    align-self: start;
    justify-self: end;
  }
  footer nav {
    gap: 40px;
    font-family: var(--semi-bold-font);
    font-size: 18px;
    line-height: 28px;
    padding-bottom: 7px;
  }
  footer .copyright {
    grid-area: 2/5;
    align-self: end;
    justify-self: end;
  }
}

.home-1 {
  display: grid;
  grid-template-columns: minmax(var(--margin-x-narrow), 1fr) minmax(auto, calc(375px - 2 * var(--margin-x-narrow))) minmax(var(--margin-x-narrow), 1fr);
  grid-template-rows: 160px auto 18px auto 197px;
  align-items: center;
  justify-items: center;
}
.home-1 h1 {
  grid-area: 2/2;
  font-family: var(--bold-font);
  font-size: 40px;
  line-height: 40px;
  text-align: center;
}
.home-1 article {
  grid-area: 4/2;
  max-width: 327px;
  font-family: var(--semi-bold-font);
  font-size: 15px;
  line-height: 28px;
  text-align: center;
  margin: 0;
}
.home-1 .bg-1 {
  grid-area: 1/1/-1/-1;
  content: url("images/bg-pattern-home-2.svg");
  align-self: end;
  justify-self: center;
  max-width: 100%;
}
@media (min-width: 768px) {
  .home-1 {
    grid-template-columns: minmax(var(--margin-x-normal), 1fr) minmax(auto, calc(768px - 2 * var(--margin-x-normal))) minmax(var(--margin-x-normal), 1fr);
    grid-template-rows: 224px auto 24px auto 256px;
  }
  .home-1 h1 {
    font-family: var(--bold-font);
    font-size: 64px;
    line-height: 56px;
  }
  .home-1 article {
    max-width: 457px;
  }
}
@media (min-width: 1440px) {
  .home-1 {
    grid-template-columns: minmax(var(--margin-x-wide), 1fr) auto 30px auto minmax(var(--margin-x-wide), 1fr);
    grid-template-rows: 250px auto 250px;
    text-align: start;
  }
  .home-1 h1 {
    grid-area: 2/2;
    justify-self: start;
    font-family: var(--bold-font);
    font-size: 100px;
    line-height: 100px;
    text-align: start;
    width: 635px;
  }
  .home-1 article {
    grid-area: 2/4;
    font-family: var(--semi-bold-font);
    font-size: 18px;
    line-height: 28px;
    text-align: start;
    align-self: end;
    padding-bottom: 5px;
  }
  .home-1 .bg-1 {
    grid-area: 3/1/-1/span 4;
    justify-self: end;
  }
  .home-1 .bg-2 {
    grid-area: 2/1/-1/-1;
    content: url("images/bg-pattern-home-1.svg");
    align-self: start;
    justify-self: start;
    margin-inline-start: -100px;
  }
  .home-1 .bg-3 {
    grid-area: 2/4;
    background-color: var(--secondary-1);
    width: 50px;
    height: 4px;
    align-self: start;
    justify-self: start;
  }
}

.home-2 {
  display: grid;
  grid-template-columns: minmax(var(--margin-x-narrow), 1fr) minmax(auto, calc(375px - 2 * var(--margin-x-narrow))) minmax(var(--margin-x-narrow), 1fr);
  grid-template-rows: 64px auto 32px auto 56px auto 64px;
}
.home-2 > h2 {
  grid-area: 4/2;
  font-family: var(--bold-font);
  font-size: 32px;
  line-height: 32px;
  max-width: 240px;
}
.home-2 ul {
  grid-area: 6/2;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 327px;
  display: flex;
  flex-direction: column;
  gap: 48px;
}
.home-2 li {
  display: grid;
  grid-template-rows: auto 16px auto 8px auto;
  justify-items: center;
  text-align: center;
}
.home-2 li h3 {
  grid-area: 3/1;
  font-family: var(--bold-font);
  font-size: 18px;
  line-height: 28px;
}
.home-2 li article {
  grid-area: 5/1;
  text-align: center;
}
.home-2 .bg-1 {
  grid-area: 1/1/-1/-1;
  content: url("images/bg-pattern-home-3.svg");
  justify-self: end;
  margin-inline-end: -100px;
}
.home-2 .bg-2 {
  grid-area: 2/2;
  background-color: var(--primary-2);
  width: 50px;
  height: 4px;
}
@media (min-width: 768px) {
  .home-2 {
    grid-template-columns: minmax(var(--margin-x-normal), 1fr) minmax(auto, calc(768px - 2 * var(--margin-x-normal))) minmax(var(--margin-x-normal), 1fr);
    grid-template-rows: 100px auto 32px auto 64px auto 100px;
  }
  .home-2 > h2 {
    max-width: 445px;
  }
  .home-2 ul {
    max-width: 573px;
    gap: 32px;
  }
  .home-2 li {
    justify-items: start;
    grid-template-columns: 72px 23px 1fr;
    grid-template-rows: auto 16px auto;
    text-align: start;
  }
  .home-2 li .icon {
    grid-area: 1/1/-1;
    align-self: start;
    justify-self: end;
  }
  .home-2 li h3 {
    grid-area: 1/3;
  }
  .home-2 li article {
    grid-area: 3/3;
    text-align: start;
  }
}
@media (min-width: 1440px) {
  .home-2 {
    grid-template-columns: minmax(var(--margin-x-wide), 1fr) auto 125px auto minmax(var(--margin-x-wide), 1fr);
    grid-template-rows: 140px auto 54px auto 140px;
  }
  .home-2 > h2 {
    grid-area: 4/2;
    font-family: var(--bold-font);
    font-size: 48px;
    line-height: 48px;
  }
  .home-2 ul {
    grid-area: 4/4;
    max-width: 540px;
  }
  .home-2 .bg-1 {
    align-self: end;
  }
}

.home-3 {
  display: grid;
  grid-template-columns: minmax(var(--margin-x-narrow), 1fr) minmax(auto, calc(375px - 2 * var(--margin-x-narrow))) minmax(var(--margin-x-narrow), 1fr);
  grid-template-rows: 140px auto 48px auto 164px;
  justify-items: center;
}
.home-3 h2 {
  grid-area: 2/2;
  font-family: var(--bold-font);
  font-size: 32px;
  line-height: 32px;
  text-align: center;
}
.home-3 ul {
  grid-area: 4/2;
  max-width: 327px;
  display: flex;
  flex-direction: column;
  gap: 48px;
}
.home-3 ul li {
  display: grid;
  grid-template-rows: 36px auto 16px auto 36px auto;
  justify-items: center;
  background-image: url("images/icon-quotes.svg");
  background-repeat: no-repeat;
  background-position: top center;
}
.home-3 ul li h3 {
  grid-area: 4/1;
}
.home-3 ul li blockquote {
  grid-area: 2/1;
  text-align: center;
}
.home-3 ul li .avatar {
  grid-area: 6/1;
  width: 62px;
  aspect-ratio: 1/1;
  border-radius: 50%;
  outline: 2px solid #c4fffe;
}
.home-3 .bg-1 {
  grid-area: 1/1/-1/-1;
  justify-self: start;
  content: url("images/bg-pattern-home-4-about-3.svg");
}
.home-3 .bg-2 {
  grid-area: 5/1/-1/-1;
  content: url("images/bg-pattern-home-5.svg");
  justify-self: end;
  align-self: end;
}
@media (min-width: 768px) {
  .home-3 {
    grid-template-columns: minmax(var(--margin-x-normal), 1fr) minmax(auto, calc(768px - 2 * var(--margin-x-normal))) minmax(var(--margin-x-normal), 1fr);
    grid-template-rows: 100px auto 48px auto 100px;
  }
  .home-3 mark::before {
    content: "\a";
    white-space: pre;
  }
  .home-3 ul {
    max-width: 573px;
  }
}
@media (min-width: 1440px) {
  .home-3 {
    grid-template-columns: minmax(var(--margin-x-wide), 1fr) minmax(auto, calc(1440px - 2 * var(--margin-x-wide))) minmax(var(--margin-x-wide), 1fr);
    grid-template-rows: 140px auto 56px auto 151px;
  }
  .home-3 mark::before {
    display: none;
  }
  .home-3 h2 {
    font-family: var(--bold-font);
    font-size: 48px;
    line-height: 48px;
    max-width: 932px;
  }
  .home-3 ul {
    display: flex;
    flex-direction: row;
    gap: 30px;
    max-width: unset;
  }
  .home-3 ul li {
    grid-template-rows: 36px auto 24px auto 52px auto;
  }
  .home-3 ul li blockquote {
    max-width: 350px;
  }
}

.get-started {
  display: grid;
  grid-template-columns: minmax(var(--margin-x-narrow), 1fr) minmax(auto, calc(375px - 2 * var(--margin-x-narrow))) minmax(var(--margin-x-narrow), 1fr);
  grid-template-rows: 83px auto 24px auto 83px;
  justify-items: center;
}
.get-started h2 {
  grid-area: 2/2;
  font-family: var(--bold-font);
  font-size: 32px;
  line-height: 32px;
  color: var(--secondary-4);
  text-align: center;
}
.get-started button {
  grid-area: 4/2;
  background-color: var(--primary-2);
  color: var(--secondary-4);
  border: 2px solid var(--secondary-4);
}
.get-started button:hover {
  background-color: var(--secondary-4);
  color: var(--primary-2);
}
.get-started .bg-1 {
  content: url("images/bg-pattern-home-6-about-5.svg");
  grid-area: 1/1/-1/-1;
  justify-self: start;
  align-self: end;
  margin-bottom: -22px;
}
@media (min-width: 768px) {
  .get-started {
    grid-template-columns: minmax(var(--margin-x-normal), 1fr) minmax(auto, calc(768px - 2 * var(--margin-x-normal))) minmax(var(--margin-x-normal), 1fr);
    grid-template-rows: 76px auto 76px;
    align-items: center;
  }
  .get-started h2 {
    text-align: start;
    min-width: 573px;
  }
  .get-started button {
    grid-area: 2/2;
    justify-self: end;
  }
}
@media (min-width: 1440px) {
  .get-started {
    grid-template-columns: 1fr 917px 1fr;
  }
  .get-started h2 {
    font-family: var(--bold-font);
    font-size: 48px;
    line-height: 48px;
    justify-self: start;
  }
  .get-started .bg-1 {
    margin-bottom: 0;
  }
}

.about-preface {
  display: grid;
  grid-template-columns: minmax(var(--margin-x-narrow), 1fr) minmax(auto, calc(375px - 2 * var(--margin-x-narrow))) minmax(var(--margin-x-narrow), 1fr);
  grid-template-rows: 160px auto 16px auto 108px;
  justify-items: center;
}
.about-preface h1 {
  grid-area: 2/2;
  font-family: var(--bold-font);
  font-size: 40px;
  line-height: 40px;
  text-align: center;
}
.about-preface article {
  grid-area: 4/2;
  font-family: var(--semi-bold-font);
  font-size: 15px;
  line-height: 28px;
  text-align: center;
  max-width: 500px;
}
.about-preface .bg-1 {
  grid-area: 1/1/-1/-1;
  align-self: end;
  justify-self: end;
  content: url("images/bg-pattern-about-1-mobile-nav-1.svg");
  margin-bottom: -100px;
  margin-inline-end: -100px;
}
.about-preface .bg-2 {
  display: none;
}
@media (min-width: 768px) {
  .about-preface {
    grid-template-columns: minmax(var(--margin-x-normal), 1fr) minmax(auto, calc(768px - 2 * var(--margin-x-normal))) minmax(var(--margin-x-normal), 1fr);
    grid-template-rows: 224px auto 24px auto 112px;
  }
  .about-preface h1 {
    font-family: var(--bold-font);
    font-size: 64px;
    line-height: 56px;
  }
  .about-preface article {
    max-width: 457px;
  }
  .about-preface .bg-1 {
    margin-bottom: 0px;
  }
}
@media (min-width: 1440px) {
  .about-preface {
    grid-template-columns: minmax(var(--margin-x-wide), 1fr) 350px 30px 730px minmax(var(--margin-x-wide), 1fr);
    grid-template-rows: 241px 156px 120px;
  }
  .about-preface h1 {
    grid-area: 2/2;
    align-self: start;
    justify-self: start;
    font-family: var(--bold-font);
    font-size: 64px;
    line-height: 100px;
    text-align: start;
  }
  .about-preface article {
    grid-area: 2/4;
    align-self: end;
    justify-self: start;
    text-align: start;
    max-width: unset;
    font-family: var(--semi-bold-font);
    font-size: 18px;
    line-height: 28px;
  }
  .about-preface .bg-2 {
    display: unset;
    grid-area: 2/4;
    align-self: start;
    justify-self: start;
    background-color: var(--primary-2);
    width: 50px;
    height: 4px;
  }
}

.about-directors {
  display: grid;
  grid-template-columns: var(--margin-x-narrow) 1fr var(--margin-x-narrow);
  grid-template-rows: 88px auto 48px auto 116px;
  justify-items: center;
}
.about-directors h2 {
  grid-area: 2/2;
  text-align: center;
  font-family: var(--bold-font);
  font-size: 32px;
  line-height: 32px;
}
.about-directors .directors {
  grid-area: 4/2;
  display: flex;
  flex-direction: column;
  gap: 52px;
  width: 100%;
}
.about-directors .bg-1 {
  grid-area: 1/1/-1/-1;
  align-self: start;
  justify-self: start;
  content: url("images/bg-pattern-about-2-contact-1.svg");
  margin-top: -100px;
  margin-inline-start: -100px;
}
.about-directors .bg-2 {
  grid-area: 1/1/-1/-1;
  align-self: end;
  justify-self: end;
  content: url("images/bg-pattern-home-4-about-3.svg");
}
@media (min-width: 768px) {
  .about-directors {
    grid-template-rows: 100px auto 48px auto 128px;
  }
  .about-directors .bg-1 {
    margin-top: 0px;
  }
  .about-directors .directors {
    display: grid;
    grid-template-columns: repeat(2, auto);
    column-gap: 11px;
    row-gap: 76px;
    justify-content: center;
  }
  .about-directors .directors > li {
    width: 281px;
  }
}
@media (min-width: 1440px) {
  .about-directors {
    grid-template-columns: minmax(var(--margin-x-wide), 1fr) minmax(auto, calc(1440px - 2 * var(--margin-x-wide))) minmax(var(--margin-x-wide), 1fr);
    grid-template-rows: 140px auto 64px auto 168px;
  }
  .about-directors h2 {
    font-family: var(--bold-font);
    font-size: 48px;
    line-height: 48px;
  }
  .about-directors .directors {
    grid-template-columns: repeat(3, 1fr);
    column-gap: 30px;
  }
  .about-directors .directors > li {
    width: 100%;
  }
}

.about-clients {
  display: grid;
  grid-template-columns: minmax(var(--margin-x-narrow), 1fr) minmax(auto, calc(375px - 2 * var(--margin-x-narrow))) minmax(var(--margin-x-narrow), 1fr);
  grid-template-rows: 88px auto 64px 360px 88px;
  justify-content: center;
  align-content: space-between;
}
.about-clients h2 {
  grid-area: 2/2;
  font-family: var(--bold-font);
  font-size: 32px;
  line-height: 32px;
  text-align: center;
}
.about-clients .clients {
  grid-area: 4/2;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 52px;
}
.about-clients .bg-1 {
  grid-area: 1/1/-1/-1;
  content: url("images/bg-pattern-about-4.svg");
  margin-top: -100px;
  margin-inline-start: -100px;
}
@media (min-width: 768px) {
  .about-clients {
    grid-template-rows: 100px auto 48px auto 96px;
  }
  .about-clients .bg-1 {
    margin-inline-start: 0;
  }
  .about-clients .clients {
    flex-direction: row;
    justify-content: center;
  }
  .about-clients .clients :nth-child(5) {
    min-width: 61px;
  }
  .about-clients .clients > li {
    min-width: 100px;
  }
  .about-clients .clients > li img {
    width: 100%;
  }
}
@media (min-width: 1440px) {
  .about-clients {
    grid-template-columns: minmax(var(--margin-x-wide), 1fr) minmax(auto, calc(1440px - 2 * var(--margin-x-wide))) minmax(var(--margin-x-wide), 1fr);
    grid-template-rows: 140px auto 64px auto 140px;
  }
  .about-clients .bg-1 {
    margin-top: unset;
  }
  .about-clients .clients {
    gap: 100px;
  }
  .about-clients h2 {
    font-family: var(--bold-font);
    font-size: 48px;
    line-height: 48px;
  }
}

.director {
  display: grid;
  grid-template-rows: 32px minmax(min-content, max-content) 16px auto;
  height: 253px;
  justify-items: center;
  background-color: var(--secondary-4);
}
.director .avatar {
  grid-area: 2/1;
  height: 96px;
  aspect-ratio: 1/1;
  outline: 2px solid #c4fffe;
  border-radius: 50%;
}
.director .btn-circle {
  grid-area: 4/1;
  align-self: end;
  margin: -28px;
  background-color: var(--primary-2);
  color: var(--secondary-4);
  transition: transform 0.2s, background-color 0.2s;
}
.director h3 {
  grid-area: 4/1;
  color: var(--secondary-1);
}
.director blockquote,
.director .socials {
  display: none;
}

.director.open {
  grid-template-rows: 35px minmax(min-content, max-content) 8px 1fr;
  background-color: var(--secondary-5);
}
.director.open h3 {
  grid-area: 2/1;
}
.director.open .avatar {
  display: none;
}
.director.open .btn-circle {
  transform: rotateY(0deg) rotate(45deg);
  background-color: var(--secondary-1);
}
.director.open blockquote {
  display: unset;
  grid-area: 4/1;
  max-width: 233px;
}
.director.open .socials {
  grid-area: 4/1;
  display: flex;
  gap: 18px;
  align-self: end;
  margin-bottom: 62px;
}

.contact-form > form {
  display: grid;
  row-gap: 24px;
}

.form-field {
  display: grid;
}
.form-field label {
  grid-area: 1/1;
}
.form-field input {
  grid-area: 1/1;
}
