:root {
    // colors
    --primary-1: white;
    --primary-2: #f67e7e;
    --primary-3: #014e56;
    --secondary-1: #79c8c7;
    --secondary-2: #2c6269;
    --secondary-3: #004047;
    --secondary-4: #012f34;
    --secondary-5: #002529;

    // font
    --bold-font: 'Livvic-Bold';
    --semi-bold-font: 'Livvic-SemiBold';

    --margin-x-narrow: 24px;
    --margin-x-normal-narrow: 40px;
    --margin-x-normal: 98px;
    --margin-x-wide: 165px;
}

$break-narrow: 375px;
$break-normal: 768px;
$break-wide: 1440px;

$colors: primary-1, primary-2, primary-3, secondary-1, secondary-2, secondary-3,
    secondary-4, secondary-5;

$socials: facebook, pinterest, twitter, linkedin;

$btn-pill-height: 48px;
