.about-section-1 {
    display: grid;
    grid-template-columns:
        minmax(var(--margin-x-mobile), 1fr)
        minmax(100px, 457px)
        minmax(var(--margin-x-mobile), 1fr);

    grid-template-rows: 160px auto 16px auto 108px;
    justify-content: center;

    h1 {
        grid-area: 2 / 2;
        @include font(40px, 40px);
        text-align: center;
    }

    article {
        grid-area: 4 / 2;
        @include body-2();
        text-align: center;
    }

    .bg-1 {
        grid-area: 1 / 1 / -1 / -1;
        align-self: end;
        justify-self: end;
        content: url('images/bg-pattern-about-1-mobile-nav-1.svg');
        margin-bottom: -100px;
        margin-inline-end: -100px;
    }
    .bg-2 {
        display: none;
    }

    // tablet
    @include for-normal-layout() {
        grid-template-columns:
            minmax(var(--margin-x-tablet), 1fr)
            457px
            minmax(var(--margin-x-tablet), 1fr);

        grid-template-rows: 224px auto 42px auto 112px;

        .bg-1 {
            margin-bottom: 0px;
        }
    }

    // desktop
    @include for-wide-layout() {
        grid-template-columns:
            minmax(var(--margin-x-desktop), 1fr)
            350px
            minmax(30px, 1fr)
            730px
            minmax(var(--margin-x-desktop), 1fr);

        grid-template-rows: 241px auto 120px;

        h1 {
            grid-area: 2 / 2;
            align-self: start;
            justify-self: start;
            @include font(64px, 100px);
            text-align: start;
        }

        article {
            grid-area: 2 / 4;
            align-self: end;
            justify-self: start;
            text-align: start;
        }

        .bg-2 {
            display: unset;
            grid-area: 2 / 4;
            align-self: start;
            justify-self: start;
            @include stripe(var(--primary-2));
        }
    }
}
