.find-talent {
    margin-top: 250px;
    display: grid;
    grid-template-columns: 168px 665px 1fr 168px;

    h1 {
        grid-area: 1 / 2;
        margin-inline-end: 30px;
    }

    p {
        grid-area: 1 / 3;
    }

    .design1 {
        margin-top: 100px;
        grid-area: 2 / 3;
        justify-self: end;
    }
}
