footer {
    align-self: end;
    display: grid;
    grid-template-rows: 66px auto 24px auto 24px auto 40px auto 16px auto 64px;
    justify-items: center;

    .logo {
        grid-area: 2 / 1;
        height: 24px;
    }

    nav {
        grid-area: 4 / 1;
        display: flex;
        gap: 24px;
        @include body-2();
    }

    address {
        grid-area: 6 / 1;
        opacity: 0.6;
        @include body-2();
        white-space: pre;
        font-style: normal;
        text-align: center;
    }

    ul {
        grid-area: 8 / 1;
        display: flex;
        gap: 16px;
        align-items: center;
    }

    .copyright {
        grid-area: 10 / 1;
        opacity: 0.6;
        @include body-2();
    }

    // tablet
    @include for-normal-layout() {
        grid-template-columns:
            var(--margin-x-tablet-narrow)
            1fr
            var(--margin-x-tablet-narrow);

        grid-template-rows: 56px auto 32px auto 56px;

        .logo {
            grid-area: 2 / 2;
            justify-self: start;
            align-self: start;
        }

        nav {
            grid-area: 2 / 2;
            justify-self: start;
            align-self: end;
        }

        address {
            grid-area: 2 / 2;
            align-self: end;
            justify-self: end;
            text-align: end;
        }

        ul {
            grid-area: 4 / 2;
            justify-self: start;
        }

        .copyright {
            grid-area: 4 / 2;
            justify-self: end;
        }
    }

    // desktop
    @include for-wide-layout() {
        grid-template-columns:
            var(--margin-x-desktop)
            auto
            125px
            445px
            380px
            var(--margin-x-desktop);

        grid-template-rows: 48px auto 48px;

        .logo {
            height: 40px;
        }

        address {
            grid-area: 2 / 4;
            align-self: start;
            justify-self: start;
            text-align: start;
        }

        ul {
            grid-area: 2 / 5;
            align-self: start;
            justify-self: end;
        }

        nav {
            gap: 40px;
            @include body-1();
            padding-bottom: 7px;
        }

        .copyright {
            grid-area: 2 / 5;
            align-self: end;
            justify-self: end;
        }
    }
}
