.graphic1 {
    width: 358px;
    display: grid;
    grid-template-columns: 133.5px 1fr;

    .stripes {
        grid-area: 1 / 1 / span 1 / span 2;
        justify-self: start;
        align-self: start;
    }

    .graphic1-full-circle {
        grid-area: 1 / 1 / span 1 / span 2;
        justify-self: start;
    }

    .graphic1-donut-back {
        grid-area: 1 / 2;
        justify-self: end;
    }

    .graphic1-donut-front {
        grid-area: 1 / 2;
    }

    .graphic1-square {
        grid-area: 1 / 2;
        @include square(43px);
        justify-self: end;
    }
}
