.graphic2 {
    display: grid;

    .graphic2-donut {
        grid-area: 1 / 1;
    }

    .graphic2-square {
        grid-area: 1 / 1;
        @include square(100px);
        justify-self: end;
        align-self: end;
    }

    .squares {
        grid-area: 1 / 1;
        justify-self: end;
        align-self: end;
    }
}
