.graphic1 {
    position: relative;
    width: 358px;
}

.graphic1-item {
    position: absolute;
    top: 0;
}

.graphic1-item:nth-child(1),
.graphic1-item:nth-child(2) {
    left: 0;
}

.graphic1-item:nth-child(3) {
    right: 0;
}

.graphic1-item:nth-child(4) {
    right: 24px;
}

.graphic1-item:nth-child(5) {
    right: 0;
    @include square(43px);
}
