header {
    position: fixed;
    display: grid;
    width: 100%;

    grid-template-columns:
        var(--margin-x-mobile)
        1fr
        var(--margin-x-mobile);

    grid-template-rows: 48px auto 10px;
    align-items: center;

    .logo {
        grid-area: 2 / 2;
        height: 32px;
    }

    nav,
    .contact-us {
        display: none;
    }

    .hamburger {
        grid-area: 2 / 2;
        justify-self: end;
    }

    // tablet
    @include for-normal-layout() {
        grid-template-columns:
            var(--margin-x-tablet-narrow)
            auto
            48px
            1fr
            var(--margin-x-tablet-narrow);

        grid-template-rows: 64px auto 20px;

        nav {
            display: unset;
            grid-area: 2 / 4;
            justify-self: start;
            display: grid;
            grid-template-columns: repeat(2, auto);
            column-gap: 40px;
            @include body-1();
        }

        .contact-us {
            display: unset;
            grid-area: 2 / 4;
            justify-self: end;
            @include button-colors(var(--primary-1), var(--primary-3));
        }

        .hamburger {
            display: none;
        }
    }

    // desktop
    @include for-wide-layout() {
        grid-template-columns:
            var(--margin-x-desktop)
            auto
            80px
            1fr
            var(--margin-x-desktop);

        grid-template-rows: 73px auto 20px;

        .logo {
            height: 40px;
        }
    }
}
