.homepage-section-1 {
    display: grid;
    grid-template-columns:
        minmax(var(--margin-x-mobile), 1fr)
        auto
        minmax(var(--margin-x-mobile), 1fr);

    grid-template-rows: 160px auto 18px auto 197px;

    align-items: center;
    justify-items: center;
    text-align: center;

    .title {
        grid-area: 2 / 2;
        @include font(40px, 40px);
    }

    p {
        grid-area: 4 / 2;
        max-width: 327px;
        @include font(15px, 28px, 'semi-bold');
        margin: 0;
    }

    .bg-1 {
        grid-area: 1 / 1 / -1 / -1;
        content: url('images/bg-pattern-home-2.svg');
        align-self: end;
        justify-self: center;
        max-width: 100%;
    }

    // tablet
    @media screen and (min-width: $breakpoint-tablet) {
        grid-template-columns:
            minmax(var(--margin-x-tablet), 1fr)
            auto
            minmax(var(--margin-x-tablet), 1fr);

        grid-template-rows: 224px auto 24px auto 256px;

        .title {
            @include h1-small();
        }

        p {
            max-width: 457px;
        }
    }

    // desktop
    @media screen and (min-width: $breakpoint-desktop) {
        grid-template-columns:
            minmax(var(--margin-x-desktop), 1fr)
            auto
            30px
            auto
            minmax(var(--margin-x-desktop), 1fr);

        grid-template-rows: 250px auto 250px;

        text-align: start;

        .title {
            grid-area: 2 / 2;
            justify-self: start;
            @include h1();
            width: 635px;
        }

        p {
            grid-area: 2 / 4;
            @include body-1();
            align-self: end;
            padding-bottom: 5px;
        }

        .bg-1 {
            grid-area: 3 / 1 / -1 / span 4;
            justify-self: end;
        }

        .bg-2 {
            grid-area: 2 / 1 / -1 / -1;
            content: url('images/bg-pattern-home-1.svg');
            align-self: start;
            justify-self: start;
        }

        .bg-3 {
            grid-area: 2 / 4;
            content: url('images/stripe-secondary-1.svg');
            align-self: start;
            justify-self: start;
        }
    }
}
