.homepage-section-2 {
    width: 100vw;
    @include flex-column-center();
}

$homepage-section-2-margin-y: 64px;

.homepage-section-2-content {
    display: grid;
    grid-template-columns: var(--margin-x-mobile) 1fr var(--margin-x-mobile);
    grid-template-rows: $homepage-section-2-margin-y repeat(3, auto) $homepage-section-2-margin-y;

    .pattern-3 {
        grid-area: 1 / 1 / -1 / -1;
        justify-self: end;
    }

    .stripe {
        grid-area: 2 / 2;
    }

    & > .title {
        grid-area: 3 / 2;
        @include font(32px, 32px);
        @include margin-y(32px, 56px);
        max-width: 240px;
    }

    ul {
        grid-area: 4 / 2;
        @include flex-column-center();
    }

    li {
        &:not(:last-child) {
            margin-bottom: 48px;
        }
        text-align: center;
        @include flex-column-center();

        .title {
            @include h3();
            margin-top: 16px;
            margin-bottom: 8px;
        }
    }

    // tablet
    @media screen and (min-width: $breakpoint-tablet) {
        @include margin-x(var(--margin-tablet));

        .pattern-3 {
            margin-inline-end: var(--margin-tablet-negative);
            grid-area: 1 / 1;
        }

        .stripe {
            margin-top: 100px;
        }

        & > .title {
            margin-top: 136px;
            max-width: 445px;
        }

        li {
            text-align: start;
            margin-bottom: 32px;
            display: grid;
            grid-template-columns: 94px 1fr;

            .icon {
                grid-area: 1 / 1 / span 2;
                align-self: start;
                padding-inline-start: 4px;
            }

            .title {
                grid-area: 1 / 2;
                margin-bottom: 16px;
            }

            .text {
                grid-area: 2 / 2;
            }
        }
    }
}
