.home-section-1 {
    display: grid;
    @include section-gtc-narrow();
    grid-template-rows: 160px auto 18px auto 197px;
    align-items: center;
    justify-items: center;

    h1 {
        grid-area: 2 / 2;
        @include font(40px, 40px);
        text-align: center;
    }

    article {
        grid-area: 4 / 2;
        max-width: 327px;
        @include font(15px, 28px, 'semi-bold');
        text-align: center;
        margin: 0;
    }

    .bg-1 {
        grid-area: 1 / 1 / -1 / -1;
        content: url('images/bg-pattern-home-2.svg');
        align-self: end;
        justify-self: center;
        max-width: 100%;
    }

    // tablet
    @include for-normal-layout() {
        @include section-gtc-normal();
        grid-template-rows: 224px auto 24px auto 256px;

        h1 {
            @include h1-small();
        }

        article {
            max-width: 457px;
        }
    }

    // desktop
    @include for-wide-layout() {
        grid-template-columns:
            minmax(var(--margin-x-wide), 1fr)
            auto
            30px
            auto
            minmax(var(--margin-x-wide), 1fr);

        grid-template-rows: 250px auto 250px;

        text-align: start;

        h1 {
            grid-area: 2 / 2;
            justify-self: start;
            @include h1();
            text-align: start;
            width: 635px;
        }

        article {
            grid-area: 2 / 4;
            @include body-1();
            text-align: start;
            align-self: end;
            padding-bottom: 5px;
        }

        .bg-1 {
            grid-area: 3 / 1 / -1 / span 4;
            justify-self: end;
        }

        .bg-2 {
            grid-area: 2 / 1 / -1 / -1;
            content: url('images/bg-pattern-home-1.svg');
            align-self: start;
            justify-self: start;
            margin-inline-start: -100px;
        }

        .bg-3 {
            grid-area: 2 / 4;
            @include stripe(var(--secondary-1));
            align-self: start;
            justify-self: start;
        }
    }
}
