.homepage-section-3 {
    display: grid;

    grid-template-columns:
        minmax(var(--margin-x-mobile), 1fr)
        auto
        minmax(var(--margin-x-mobile), 1fr);

    grid-template-rows: 140px auto 48px auto 164px;
    justify-items: center;

    h2 {
        grid-area: 2 / 2;
        @include font(32px, 32px);
        text-align: center;
    }

    ul {
        grid-area: 4 / 2;
        max-width: 327px;

        li {
            &:not(:last-child) {
                margin-bottom: 48px;
            }
            display: grid;
            grid-template-rows: 36px auto 16px auto 36px auto;
            justify-items: center;
            background-image: url('images/icon-quotes.svg');
            background-repeat: no-repeat;
            background-position: top center;

            h3 {
                grid-area: 4 / 1;
            }

            blockquote {
                grid-area: 2 / 1;
                display: grid;
                text-align: center;
            }

            .avatar {
                grid-area: 6 / 1;
                width: 62px;
                aspect-ratio: 1 / 1;
                border-radius: 50%;
                outline: 2px solid #c4fffe;
            }
        }
    }

    .bg-1 {
        grid-area: 1 / 1 / -1 / -1;
        justify-self: start;
        content: url('images/bg-pattern-home-4-about-3.svg');
    }

    .bg-2 {
        grid-area: 5 / 1 / -1 / -1;
        content: url('images/bg-pattern-home-5.svg');
        justify-self: end;
        align-self: end;
    }

    // tablet
    @media screen and (min-width: $breakpoint-tablet) {
        grid-template-columns:
            minmax(var(--margin-x-tablet), 1fr)
            auto
            minmax(var(--margin-x-tablet), 1fr);

        grid-template-rows: 100px auto 48px auto 100px;

        mark::before {
            content: '\a';
            white-space: pre;
        }

        ul {
            max-width: 573px;
        }
    }

    // desktop
    @media screen and (min-width: $breakpoint-desktop) {
        grid-template-columns:
            minmax(var(--margin-x-desktop), 1fr)
            auto
            minmax(var(--margin-x-desktop), 1fr);

        grid-template-rows: 140px auto 56px auto 140px;

        mark::before {
            display: none;
        }

        h2 {
            @include h2();
            max-width: 932px;
        }

        ul {
            display: flex;
            gap: 30px;
            max-width: unset;

            li {
                grid-template-rows: 36px auto 24px auto 62px auto;

                &:not(:last-child) {
                    margin-bottom: 0px;
                }

                blockquote {
                    max-width: 350px;
                }
            }
        }
    }
}
