.home-section-4 {
    display: grid;
    grid-template-columns:
        minmax(var(--margin-x-mobile), 1fr)
        auto
        minmax(var(--margin-x-mobile), 1fr);

    grid-template-rows: 83px auto 24px auto 83px;
    justify-items: center;
    overflow-y: hidden;

    h2 {
        grid-area: 2 / 2;
        @include font(32px, 32px);
        color: var(--secondary-4);
        text-align: center;
    }

    button {
        grid-area: 4 / 2;
        @include button-colors(var(--secondary-4), var(--primary-2));
    }

    .bg-1 {
        content: url('images/bg-pattern-home-6-about-5.svg');
        grid-area: 1 / 1 / -1 / -1;
        justify-self: start;
        align-self: end;
        margin-bottom: -22px;
    }

    // tablet
    @include for-normal-layout() {
        grid-template-columns:
            1fr
            calc($break-normal - 2 * var(--margin-x-tablet))
            1fr;

        grid-template-rows: 76px auto 76px;
        align-items: center;

        h2 {
            justify-self: start;
        }

        button {
            grid-area: 2 / 2;
            justify-self: end;
        }
    }

    // desktop
    @include for-wide-layout() {
        grid-template-columns:
            1fr
            917px
            1fr;

        h2 {
            @include h2();
        }

        .bg-1 {
            margin-bottom: 0;
        }
    }
}
