.homepage-section-2 {
    width: 100vw;
    @include flex-column-center();
}

.homepage-section-2-content {
    @include px(var(--margin-mobile));
    padding-bottom: 64px;
    display: grid;

    .stripe {
        grid-area: 1 / 1;
        padding-top: 64px;
    }

    & > .title {
        grid-area: 1 / 1;
        @include font(32px, 32px);
        padding-top: 100px;
        margin-inline-end: 11px;
        max-width: 240px;
    }

    .pattern-3 {
        grid-area: 1 / 1;
        justify-self: end;
        margin-inline-end: var(--margin-mobile-negative);
    }

    ul {
        padding-top: 9px;
        @include flex-column-center();
    }

    li {
        padding-top: 47px;
        text-align: center;
        @include flex-column-center();

        .icon {
            width: 72px;
            aspect-ratio: 1 / 1;
            object-fit: contain;
            padding-inline-start: 8px;
        }

        .title {
            @include h3();
            @include my(16px, 9px);
        }
    }

    // tablet
    @media screen and (min-width: $breakpoint-tablet) {
    }
}
