@mixin button-colors($color1, $color2) {
    background-color: $color2;
    color: $color1;
    border: 2px solid $color1;

    &:hover {
        background-color: $color1;
        color: $color2;
    }
}

$button-height: 48px;

button {
    box-sizing: border-box;
    height: $button-height;
    width: 153px;
    border-radius: calc($button-height / 2);
    text-align: center;
    @include body-1();
    @include button-colors(var(--primary-1), var(--secondary-5));
}
