$button-height: 48px;

button {
    box-sizing: border-box;
    height: $button-height;
    width: 153px;
    border: 2px solid var(--primary-1);
    border-radius: calc($button-height / 2);
    background-color: transparent;
    color: var(--primary-1);
    @include body-1();
}
