$colors: primary-1, primary-2, primary-3, secondary-1, secondary-2, secondary-3,
    secondary-4, secondary-5;

// background-color
@each $color in $colors {
    .bg-#{$color} {
        background-color: var(--#{$color});
    }
}

// border-color
@each $color in $colors {
    .border-#{$color} {
        border-color: var(--#{$color});
    }
}
