:root {
    // colors
    --primary-1: white;
    --primary-2: #f67e7e;
    --primary-3: #014e56;
    --secondary-1: #79c8c7;
    --secondary-2: #2c6269;
    --secondary-3: #004047;
    --secondary-4: #012f34;
    --secondary-5: #002529;
}

$colors: primary-1, primary-2, primary-3, secondary-1, secondary-2, secondary-3,
    secondary-4, secondary-5;

// background-color
@each $color in $colors {
    .bg-#{$color} {
        background-color: var(--#{$color});
    }
}

// border-color
@each $color in $colors {
    .border-#{$color} {
        border-color: var(--#{$color});
    }
}
