* {
    /*Reset's every elements apperance*/
    background: none repeat scroll 0 0 transparent;
    border: medium none;
    border-spacing: 0;
    color: white;
    list-style: none outside none;
    margin: 0;
    padding: 0;
    text-align: left;
    text-decoration: none;
    text-indent: 0;
}

body {
    display: flex;
    justify-content: center;
    margin: 0;
    color: var(--primary-1);
    background-color: var(--primary-3);
}

mark {
    color: var(--primary-2);
    background-color: transparent;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#root {
    width: 100%;
}

.app {
    min-height: 100vh;
    display: grid;
}
