.m0 {
    margin: 0px;
}

body {
    margin: 0 var(--margin-mobile);

    // tablet
    @media screen and (min-width: $breakpoint-tablet) {
        margin: 0 var(--margin-tablet);
    }

    // desktop
    @media screen and (min-width: $breakpoint-desktop) {
        margin: 0 var(--margin-desktop);
    }

    background-color: var(--primary-3);
    color: var(--primary-1);
}

mark {
    color: var(--primary-2);
    background-color: transparent;
}
