@mixin circle($size: 200px) {
    border-radius: 50%;
    width: $size;
    aspect-ratio: 1 / 1;
}

@mixin square($size) {
    width: $size;
    aspect-ratio: 1 / 1;
}

.circle {
    @include circle();
}

.donut {
    @include circle();
    border-width: 67px;
    border-style: solid;
    box-sizing: border-box;
}

.stripes {
    display: inline-grid;
    row-gap: 4px;
}

.stripe {
    width: 100px;
    height: 4px;
}
