$socials: facebook, pinterest, twitter;

@each $s in $socials {
    .#{$s} {
        width: 24px;
        aspect-ratio: 1/1;
        background-image: url('images/icon-#{$s}.svg');
        background-position: center center;
        background-repeat: no-repeat;
    }
}
