@mixin px($start, $end: '') {
    padding-inline-start: $start;
    @if ($end == '') {
        padding-inline-end: $start;
    } @else {
        padding-inline-end: $end;
    }
}

@mixin py($start, $end) {
    padding-block-start: $start;
    @if ($end == '') {
        padding-block-end: $start;
    } @else {
        padding-block-end: $end;
    }
}

@mixin mx($start, $end: '') {
    margin-inline-start: $start;
    @if ($end == '') {
        margin-inline-end: $start;
    } @else {
        margin-inline-end: $end;
    }
}

@mixin my($start, $end) {
    margin-block-start: $start;
    @if ($end == '') {
        margin-block-end: $start;
    } @else {
        margin-block-end: $end;
    }
}

.m0 {
    margin: 0;
}
