@mixin padding-x($start, $end: '') {
    padding-inline-start: $start;
    @if ($end == '') {
        padding-inline-end: $start;
    } @else {
        padding-inline-end: $end;
    }
}

@mixin padding-y($start, $end) {
    padding-block-start: $start;
    @if ($end == '') {
        padding-block-end: $start;
    } @else {
        padding-block-end: $end;
    }
}

@mixin margin-x($start, $end: '') {
    margin-inline-start: $start;
    @if ($end == '') {
        margin-inline-end: $start;
    } @else {
        margin-inline-end: $end;
    }
}

@mixin margin-y($top, $bottom: '') {
    margin-top: $top;
    @if ($bottom == '') {
        margin-bottom: $top;
    } @else {
        margin-bottom: $bottom;
    }
}

.m0 {
    margin: 0;
}
