body {
    font-family: var(--font), sans-serif;
}

@mixin font($size, $line-height, $weight: var(--bold)) {
    font-size: $size;
    line-height: $line-height;
    font-weight: $weight;
}

@mixin h1() {
    @include font(100px, 100px);
}

@mixin h1-small() {
    @include font(64px, 56px);
}

@mixin h2() {
    @include font(48px, 48px);
}

@mixin h3() {
    @include font(18px, 28px);
}

@mixin body-1() {
    @include font(18px, 28px, var(--semi-bold));
}

@mixin body-2() {
    @include font(15px, 25px, var(--semi-bold));
}

.body-1 {
    @include body-1();
}

h1 {
    @include h1();

    .small {
        @include h1-small();
    }
}

h2 {
    @include h2();
}

h3 {
    @include h3();
}
