:root {
    // colors
    --primary-1: white;
    --primary-2: #f67e7e;
    --primary-3: #014e56;
    --secondary-1: #79c8c7;
    --secondary-2: #2c6269;
    --secondary-3: #004047;
    --secondary-4: #012f34;
    --secondary-5: #002529;

    // font
    --bold-font: 'Livvic-Bold';
    --semi-bold-font: 'Livvic-SemiBold';

    --margin-x-mobile: 24px;
    --margin-x-tablet: 98px;
    --margin-x-desktop: 165px;
}

$breakpoint-tablet: 768px;
$breakpoint-desktop: 1440px;
