.about-1 {
    display: grid;
    @include gtc-narrow();
    grid-template-rows: 160px auto 16px auto 108px;
    justify-items: center;

    h1 {
        grid-area: 2 / 2;
        @include font(40px, 40px);
        text-align: center;
    }

    article {
        grid-area: 4 / 2;
        @include font(15px, 28px, 'semi-bold');
        text-align: center;
        max-width: 500px;
    }

    .bg-1 {
        grid-area: 1 / 1 / -1 / -1;
        align-self: end;
        justify-self: end;
        content: url('images/bg-pattern-about-1-mobile-nav-1.svg');
        margin-bottom: -100px;
        margin-inline-end: -100px;
    }
    .bg-2 {
        display: none;
    }

    // tablet
    @include for-normal-layout() {
        @include gtc-normal();
        grid-template-rows: 224px auto 24px auto 112px;

        h1 {
            @include h1-small();
        }

        article {
            max-width: 457px;
        }

        .bg-1 {
            margin-bottom: 0px;
        }
    }

    // desktop
    @include for-wide-layout() {
        grid-template-columns:
            minmax(var(--margin-x-wide), 1fr)
            350px
            30px
            730px
            minmax(var(--margin-x-wide), 1fr);

        grid-template-rows: 241px 156px 120px;

        h1 {
            grid-area: 2 / 2;
            align-self: start;
            justify-self: start;
            @include font(64px, 100px);
            text-align: start;
        }

        article {
            grid-area: 2 / 4;
            align-self: end;
            justify-self: start;
            text-align: start;
            max-width: unset;
            @include body-1();
        }

        .bg-2 {
            display: unset;
            grid-area: 2 / 4;
            align-self: start;
            justify-self: start;
            @include stripe(var(--primary-2));
        }
    }
}
