.about-directors {
    display: grid;
    grid-template-columns: var(--margin-x-narrow) 1fr var(--margin-x-narrow);
    grid-template-rows: 88px auto 48px auto 116px;
    justify-items: center;

    h2 {
        grid-area: 2 / 2;
        text-align: center;
        @include font(32px, 32px);
    }

    .directors {
        grid-area: 4 / 2;
        display: flex;
        flex-direction: column;
        gap: 52px;
        width: 100%;
    }

    .bg-1 {
        grid-area: 1 / 1 / -1 / -1;
        align-self: start;
        justify-self: start;
        content: url('images/bg-pattern-about-2-contact-1.svg');
        margin-top: -100px;
        margin-inline-start: -100px;
    }

    .bg-2 {
        grid-area: 1 / 1 / -1 / -1;
        align-self: end;
        justify-self: end;
        content: url('images/bg-pattern-home-4-about-3.svg');
    }

    // tablet
    @include for-normal-layout() {
        grid-template-rows: 100px auto 48px auto 128px;

        .bg-1 {
            margin-top: 0px;
        }

        .directors {
            display: grid;
            grid-template-columns: repeat(2, auto);
            column-gap: 11px;
            row-gap: 76px;
            justify-content: center;

            & > li {
                width: 281px;
            }
        }
    }

    // desktop
    @include for-wide-layout() {
        @include gtc-wide();
        grid-template-rows: 140px auto 64px auto 168px;

        h2 {
            @include h2();
        }

        .directors {
            grid-template-columns: repeat(3, 1fr);
            column-gap: 30px;

            & > li {
                width: 100%;
            }
        }
    }
}
