.about-3 {
    display: grid;
    @include gtc-narrow();
    grid-template-rows: 88px auto 64px 360px 88px;
    justify-content: center;
    align-content: space-between;

    h2 {
        grid-area: 2 / 2;
        @include font(32px, 32px);
        text-align: center;
    }

    .clients {
        grid-area: 4 / 2;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 52px;
    }

    .bg-1 {
        grid-area: 1 / 1 / -1 / -1;
        content: url('images/bg-pattern-about-4.svg');
        margin-top: -100px;
        margin-inline-start: -100px;
    }

    // tablet
    @include for-normal-layout() {
        grid-template-rows: 100px auto 48px auto 96px;

        .bg-1 {
            margin-inline-start: 0;
        }

        .clients {
            flex-direction: row;
            max-width: unset;
            margin-top: unset;
            justify-content: center;

            :nth-child(5) {
                min-width: 61px;
            }

            & > li {
                min-width: 100px;

                img {
                    width: 100%;
                }
            }
        }
    }
}
