.about-2 {
    display: grid;
    grid-template-columns: var(--margin-x-narrow) 1fr var(--margin-x-narrow);
    grid-template-rows: 88px auto 48px auto 116px;
    justify-items: center;

    h2 {
        grid-area: 2 / 2;
        text-align: center;
        @include font(32px, 32px);
    }

    .directors {
        grid-area: 4 / 2;
        display: flex;
        flex-direction: column;
        gap: 52px;
        width: 100%;
    }

    .director {
        display: grid;
        grid-template-rows: 32px minmax(min-content, max-content) 16px auto;
        height: 253px;
        justify-items: center;
        background-color: var(--secondary-4);

        .avatar {
            grid-area: 2 / 1;
            height: 96px;
            aspect-ratio: 1 / 1;
            outline: 2px solid #c4fffe;
            border-radius: 50%;
        }

        .circle-button {
            grid-area: -1 / 1;
            align-self: end;
            margin: -28px;
            background-color: var(--primary-2);
            color: var(--secondary-4);
            transition: transform 0.2s, background-color 0.2s;
        }

        h3 {
            grid-area: 4 / 1;
            color: var(--secondary-1);
        }
    }

    .director.open {
        background-color: var(--secondary-5);
        .avatar {
            display: none;
        }

        .circle-button {
            transform: rotateY(0deg) rotate(45deg);
            background-color: var(--secondary-1);
        }
    }

    .bg-1 {
        grid-area: 1 / 1 / -1 / -1;
        align-self: start;
        justify-self: start;
        content: url('images/bg-pattern-about-2-contact-1.svg');
        margin-top: -100px;
        margin-inline-start: -100px;
    }

    .bg-2 {
        grid-area: 1 / 1 / -1 / -1;
        align-self: end;
        justify-self: end;
        content: url('images/bg-pattern-home-4-about-3.svg');
    }

    // tablet
    @include for-normal-layout() {
        grid-template-rows: 100px auto 48px auto 128px;

        .bg-1 {
            margin-top: 0px;
        }

        .directors {
            display: grid;
            grid-template-columns: repeat(2, auto);
            column-gap: 11px;
            row-gap: 76px;
            justify-content: center;

            li {
                width: 281px;
            }
        }
    }
}
