.about-2 {
    display: grid;
    grid-template-columns: var(--margin-x-narrow) 1fr var(--margin-x-narrow);
    grid-template-rows: 88px auto 48px auto 52px auto 116px;
    justify-items: center;

    h2 {
        grid-area: 2 / 2;
        text-align: center;
        @include font(32px, 32px);
    }

    .directors {
        grid-area: 4 / 2;
        display: flex;
        flex-direction: column;
        gap: 52px;
        width: 100%;

        li {
            display: grid;
            grid-template-rows: 32px minmax(min-content, max-content) 16px auto;
            height: 253px;
            justify-items: center;

            .avatar {
                grid-area: 2 / 1;
                height: 96px;
                aspect-ratio: 1 / 1;
                outline: 2px solid #c4fffe;
                border-radius: 50%;
            }

            .circle-button {
                grid-area: -1 / 1;
                align-self: end;
                margin: -28px;
                background-color: var(--primary-2);
            }

            h3 {
                grid-area: 4 / 1;
            }
        }
    }

    .quote-box {
        grid-area: 6 / 2;
        display: grid;
        grid-template-rows: 35px minmax(min-content, max-content) 8px auto 24px auto 63px;
        height: 253px;
        width: 100%;
        justify-items: center;

        h3 {
            grid-area: 2 / 1;
        }

        blockquote {
            grid-area: 4 / 1;
            @include body-2();
            max-width: 235px;
            text-align: center;
        }

        .social {
            grid-area: 6 / 1;
            display: flex;
            gap: 16px;
            align-items: center;
        }

        .circle-button {
            grid-area: -1 / 1;
            align-self: end;
            margin: -28px;
            transform: rotateY(0deg) rotate(45deg);
        }
    }

    .bg-1 {
        grid-area: 1 / 1 / -1 / -1;
        align-self: start;
        justify-self: start;
        content: url('images/bg-pattern-about-2-contact-1.svg');
        margin-top: -100px;
        margin-inline-start: -100px;
    }

    .bg-2 {
        grid-area: 1 / 1 / -1 / -1;
        align-self: end;
        justify-self: end;
        content: url('images/bg-pattern-home-4-about-3.svg');
    }
}
